RewriteEngine On 
RewriteCond %{SERVER_PORT} 80
RewriteCond %{HTTP_HOST} ^(www\.)?onlinefamilypharmacy\.com
RewriteRule ^(.*)$ https://www.onlinefamilypharmacy.com/$1 [R,L]
Redirect 301 "/index.html" "/ecommerce/public/"